<div class="ui borderless stackable menu">
  <a class="item active" routerLink="/skin-view" routerLinkActive="active">Accueil</a>
  <a class="item" routerLink="/authorities" routerLinkActive="active">L'aviron</a>
  <a class="item" routerLink="/about">Visite du club</a>
  <a class="item" routerLink="/about">Historique</a>
  <a class="item" routerLink="/about">Coordonnées</a>
  <a class="item" routerLink="/about">Horaires et Tarifs</a>
  <a class="item" routerLink="/about">Calendrier</a>
<!--</div>
<div class="ui eight item menu">-->
  <a class="item" routerLink="/about">Compétition</a>
  <a class="item" routerLink="/about">Loisir</a>
  <a class="item" routerLink="/about">Scolaire/Universitaire</a>
  <a class="item" routerLink="/about">Photos</a>
  <a class="item" routerLink="/about">Videos</a>
  <a class="item" routerLink="/about">Des champions</a>
  <a class="item" routerLink="/about">Documents</a>
  <a class="item" routerLink="/about">Liens</a>  
</div>