<header>
    <nav>
        <my-menubar></my-menubar>
    </nav>
</header>
<main>
    <!--<div>-->
        <!--<md-card>-->
            <!--<button md-button>FLAT</button>-->
            <!--<button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>-->
            <!--<button md-raised-button color="primary">PRIMARY RAISED</button>-->
            <!--<button md-raised-button color="accent">ACCENT RAISED</button>-->
        <!--</md-card>-->
    <!--</div>-->

    <!-- <my-login></my-login> -->
    <!-- <skin-view></skin-view> -->
    <div class="ui segment">
        <img class="ui centered circular fluid image" src="img/snb-3.jpeg">
    </div>
    <router-outlet></router-outlet>
</main>
<footer>
    <a [href]="url">Webpack Angular 2 Starter</a>
</footer>
